## Creating a Dataframe.......

In [1]:
import pandas as pd

In [11]:
data = {'id':[1,2,3,4,5,6,7,8,9,10],'name':['alia','neha','jyo','lian','toory','span','sona','leha','kia','kora'],'marks':[90,86,95,97,90,38,57,60,49,58]}
df = pd.DataFrame(data)
df

   id   name  marks
0   1   alia     90
1   2   neha     86
2   3    jyo     95
3   4   lian     97
4   5  toory     90
5   6   span     38
6   7   sona     57
7   8   leha     60
8   9    kia     49
9  10   kora     58

### counting columns from a Data Frame...

In [6]:
count_column = df.shape[1]
count_column

3

### Counting rows from a Dataframe...

In [10]:
count_rows = df.shape[0]
count_rows

10

### counting Rows and Columns from a Data Frame....

In [7]:
df.shape

(10, 3)

### Selecting only one column from Data Frame..

In [12]:
df['id']

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: id, dtype: int64

### Selecting only one row from Data Frame..

In [14]:
df.loc[1]

id          2
name     neha
marks      86
Name: 1, dtype: object